/*
Author : Samir Baniya
Contact : samirbaniya500@gmail.com
*/
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif ;
}
.wrapper{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}
.text-center {
    text-align: center;
}
.logo {
    width: 15%;
    float: left;
}
.img-responsive {
    width: 100%;
    cursor: pointer;
}
.menubar{
    border-bottom: 3px solid gray;
}
.menu{
    line-height: 155px;
    /* margin-top: 68px; */
    font-size: 25px;
}
.menu ul {
    list-style-type: none;
}

.menu ul li {
    display: inline;
    padding: 0 1%;
    font-weight: bold;
}
.menu ul li a {
    text-decoration: none;
    color: #9b59b6;
    font-weight: bold;
}
a:hover {
    color: #ff4757;
}
.clearfix {
    clear: both;
    float: none;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}

/*footer CSS*/
.footer{
    background-color:#9b59b6;
    color: #fff
}
.footer-link{
    text-decoration: none;
    color: #f1c40f;
}
.footer-link:hover{
    color:aqua
}
.col-4{
    background-color: white;
    width: 18%;
    float: left;
    margin: 1%;
    padding: 2%;
}

/*cotent CSS*/
.content{
    background-color: #a4b0be;
    padding-top: 1% 0;
}

.heading{
    color: #d7182a;
    font-weight: 900;
}
.table{
    width: 100%;
}
.table tr th{
    text-align: left;
    padding: 1%;
}
.table tr td{
    padding: 1%;
}
a{
    text-decoration: none;
    margin: 1%;
}
.btn{
    padding: 1%;
    color: white;
    font-size: 1rem;
    border-radius: 5px; 
    border: none;
}
.btn-primary{
    background-color: #2ed573;
    cursor: pointer;
}
.btn-primary:hover{
    background-color: #7bed9f;
}
.btn-secondary{
    background-color: #1e90ff;
}
.btn-secondary:hover{
    background-color: #70a1ff;
}
.btn-danger{
    background-color: #ff4757;
}
.btn-danger:hover{
    background-color: white;
    color: #ff6b81;
}
.form-control{
    width: 80%;
    padding: 1%;
    border-radius: 5px;
    border: 1px solid #a4b0be;
}
.text-right{
    text-align: right;
}
.success{
    color: white;
    background-color: #2ed573;
}
.error{
    color: white;
    background-color: #ff4757;
}
/* Login page CSS */
.login{
    border: 1px solid red;
    width: 20%;
    margin: 10% auto;
    padding: 2%;
}
.form-control-login{
    width: 50%;
    padding: 1%;
    border-radius: 5px;
    border: 1px solid #a4b0be;
}
.bordertable{
    border: 1px solid black;
    border-spacing: 0px;
}
.bordertable tr th{
    text-align: left;
    padding: 1%;
    border: 1px solid black;padding: 4px;
}
.bordertable tr td{
    padding: 1%;
    border: 1px solid black;padding: 4px;
}